<style>
    body {
        background-color: lightblue;
    }

    h1 {
        text-align: center;
        font-family: verdana;
        font-size: 40px;
    }

    h2 {
        text-align: left;
        font-family: Calibri;
        font-size: 25px;
    }
</style>
<body>
    <h1><strong>Libro</strong></h1>
    <h2>{{mensaje}}</h2>
</body>


<form name="libroForm" novalidate>

    <div class="form-group">
        <label for="libroID">Libro ID</label>
        <input class="form-control" id="libroId" ng-model="libroActual.Id" ng-disabled="true" />
    </div>
    <div class="form-group">
        <label for="editorialID">Editorial ID</label>
        <input class="form-control" id="editorialId" ng-model="editorialActual.Id" ng-disabled="true" />
    </div>

    <div class="form-group">
        <label for="libroNombre">Nombre</label>
        <input class="form-control" id="libroNombre" name="libroNombre" ng-model="libroActual.Nombre"
               required
               ng-minlength="3"
               ng-maxlength="25" />

        <div ng-messages="libroForm.libroNombre.$error">
            <div ng-message="required">El nombre del Libro es requerido</div>
            <div ng-message="minlength">El nombre del Libro debe tener mas de 3 caracteres.</div>
            <div ng-message="maxlength">El nombre del Libro debe tener menos de 25 caracteres.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="libroAno">Año</label>
        <input class="form-control" type="number" id="libroAno" name="libroAno" ng-model="libroActual.Ano"
               required
               ng-minlength="1"
               ng-maxlength="4" />

        <div ng-messages="libroForm.libroAno.$error">
            <div ng-message="required">El año del Libro es requerido</div>
            <div ng-message="minlength">

            </div>
            <div ng-message="maxlength">El año del Libro debe tener menos de 4 car&aacute;cteres.</div>
        </div>
    </div>

    <div class="form-group">

        <label>Editorial</label>
        <select name="libroEditorial" class="form-control" ng-model="editorialSeleccionada"
                ng-options="editorial.Nombre for editorial in editoriales" required>
        </select>

        <div ng-messages="libroForm.libroEditorial.$error">
            <div ng-message="required">La editorial del libro es requerida</div>
        </div>
    </div>

    <div class="form-group">
        <button ng-disabled="libroForm.$invalid" ng-click="guardarLibro()" class="btn btn-primary">{{accionActual}}</button>
        <button ng-click="limpiar()" class="btn btn-default">Cancelar</button>
    </div>

</form>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Año</th>
        <th>Editorial<th>
    </tr>
    <tr ng-repeat="libro in libros">
        <td>{{libro.Id}}</td>
        <td>{{libro.Nombre}}</td>
        <td>{{libro.Ano}}</td>
        <td>{{libro.Editorial.Nombre}} </td>
        <td> </td>
        <td>
            <button ng-click="editar(libro)" class="btn btn-warning">Editar</button>
        </td>
        <td>
            <button ng-click="eliminar(libro)" class="btn btn-danger">Eliminar</button>
        </td>
    </tr>
</table>